@model ShoppingCart

@{
    ViewData["Title"] = "Details";
}

<form method="post">
    <input type="hidden" asp-for="BookId" />
    <input type="hidden" asp-for="Count" />

        <div class="row mt-5">
            <div class="col-6">
                <img class="w-75" src="@Model.Book.ImageUrl" alt="@Model.Book.Title book cover image" title="@Model.Book.Title" />
            </div>

            <div class="col-6">
                <h1 class="text-warning fs-2">@Model.Book.Title</h1>
                <p class="fs-4">by @Model.Book.Author</p>
                
                <div class="col-12">
                    <div class="btn btn-primary">Fantasy</div>
                    <div class="btn btn-warning ms-2">Softcover</div>
                </div>
                
                <div class="col-12 mt-4">
                    <p>@Model.Book.Description</p>
                </div>

                <div class="col-12 my-4">
                    <p class="card-subtitle text-light fs-6"><b><strike>@Model.Book.ListPrice.ToString("c")</strike></b></p>
                    <p class="card-subtitle text-warning fs-5">Current price: <b>@Model.Book.Price.ToString("c")</b></p>
                </div>

                <div class="col-12 mt-5 text-end">
                    <button class="btn btn-lg btn-success rounded-0 mx-1">Add to cart</button>
                    <a class="btn btn-lg btn-white rounded-0 mx-1" asp-action="Index">Back to list</a>
                </div>
            </div>
                
        </div>

</form>