@model IEnumerable<Book>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-4">
    @foreach (var book in Model)
    {
        <div class="col-lg-3 col-md-6 col-12 mb-4">
            <div class="card h-100 bg-dark">
                <a asp-action="Details" asp-route-bookId="@book.Id" class="text-center h-100">
                    <img class="book-image h-100 w-100" style="object-fit: cover; object-position: center;" src="@book.ImageUrl" alt="@book.Title book cover image" title="@book.Title" />
                </a>

                <div class="card-header bg-black border-0 mt-auto">
                    <p class="card-title text-warning h5">@book.Title</p>
                    <p class="card-title text-white">by <b>@book.Author</b></p>
                </div>

                <a asp-action="Details" asp-route-bookId="@book.Id" class="details-link link-warning text-decoration-none">
                    <div class="card-footer bg-transparent">
                        <p class="card-subtitle">
                            <span><b>@book.Price.ToString("c")</b></span>
                            <strike class="text-light float-end"><b>@book.ListPrice.ToString("c")</b></strike>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    }
</div>