@model IEnumerable<Book>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-4">
    @foreach (var book in Model)
    {
        <div class="col-lg-3 col-md-6 col-12 mb-4">
            <div class="card h-100 bg-black">
                <img class="book-image" style="object-fit: contain; object-position: bottom; height: 50vh;" src="@book.ImageUrl" alt="Book cover image" />
                <div class="card-header bg-black border-0 mt-auto">
                    <p class="card-title text-warning h5">@book.Title</p>
                    <p class="card-title text-white">by <b>@book.Author</b></p>
                </div>

                <a asp-action="Details" asp-route-id="@book.Id" class="details-link mt-auto link-dark text-center text-decoration-none">
                    <div class="card-footer bg-transparent">
                        <p class="card-subtitle">List price - <strike><b>@book.ListPrice.ToString("c")</b></strike></p>
                        <p class="card-subtitle">Current price - <b>@book.Price.ToString("c")</b></p>
                    </div>
                </a>
            </div>
        </div>
    }
</div>